.mod-wysiwyg-columns{display:flex;flex-flow:row wrap;justify-content:center;margin:5px 0;}
.mod-wysiwyg-column{flex:1;margin:2px;padding:10px;}
.mod-wysiwyg-column:first-child{margin-left:0;}
.mod-wysiwyg-column:not(.mod-wysiwyg-column-bordered):first-child{padding-left:0;}
.mod-wysiwyg-column:last-child{margin-right:0;}
.mod-wysiwyg-column-bordered{border:1px solid #ccc;}
@media screen and (max-width: 980px) {
  .mod-wysiwyg-columns .mod-wysiwyg-column {
		margin-bottom: 5px;
        flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}
@media screen and (max-width: 680px) {
	.mod-wysiwyg-columns .mod-wysiwyg-column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

img.card-img-top{max-width:100%}

/* source: https://www.codeproject.com/tips/170049/pure-html-css-modal-dialog-box-no-javascript */
.modWYSIWYGModalWindow{position:fixed;font-family:arial;font-size:80%;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.2);z-index:99999;opacity:0;-webkit-transition:opacity 400ms ease-in;-moz-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in;pointer-events:none;}
.modWYSIWYGModalWindow .modalHeader h2{color:#189CDA;border-bottom:2px groove #efefef;}
.modWYSIWYGModalWindow:target{opacity:1;pointer-events:auto;}
.modWYSIWYGModalWindow > div{width:500px;position:relative;margin:10% auto;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #fff;}
.modWYSIWYGModalWindow .modalHeader{padding:5px 20px 0px 20px;}
.modWYSIWYGModalWindow .modalContent{padding:0px 20px 5px 20px;}
.modWYSIWYGModalWindow .modalFooter{padding:8px 20px 8px 20px;}
.modWYSIWYGModalWindow .modalFooter {background:#F1F1F1;border-top:1px solid #999;-moz-box-shadow: inset 0px 13px 12px -14px #888;-webkit-box-shadow: inset 0px 13px 12px -14px #888;box-shadow: inset 0px 13px 12px -14px #888;}
.modWYSIWYGModalWindow .modalFooter p{color:#D4482D;text-align:right;margin:0;padding:5px;}
.modWYSIWYGModalWindow .ok, .modWYSIWYGModalWindow .close, .modWYSIWYGModalWindow .cancel{background:#606061;color:#FFFFFF;line-height:25px;text-align:center;text-decoration:none;font-weight:bold;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-box-shadow:1px 1px 3px #000;-webkit-box-shadow:1px 1px 3px #000;box-shadow:1px 1px 3px #000;}
.modWYSIWYGModalWindow .close{position:absolute;right:5px;top:5px;width:22px;height:22px;font-size:10px;}
.modWYSIWYGModalWindow .ok, .modWYSIWYGModalWindow .cancel{width:80px;float:right;margin-left:20px;}
.modWYSIWYGModalWindow .clear{float:none;clear:both;}